/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Create color utilities for all colors/shades. See:
   https://getbootstrap.com/docs/5.3/customize/color/#generating-utilities
 */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$custom-colors: (
  "pink": #ff99ff,
  "pink-light": #ffccff,
  "pink-strong": #ff66ff,
  "pink-dark": #ee66ee,
);

$all-colors: map-merge-multiple($custom-colors, $grays);

$theme-colors: map-merge-multiple($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);

$utilities: map-merge(
  $utilities,
  (
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "color"), "values"),
              $all-colors
            ),
        )
      ),
  )
);

// $utilities: map-merge(
//   $utilities,
//   (
//     "background-color": (
//       property: background-color,
//       class: bg,
//       values: $custom-colors,
//     ),
//   )
// );

$utilities: map-merge(
  $utilities,
  (
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              $all-colors
            ),
        )
      ),
  )
);

// $utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
// $utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// @import "bootstrap/scss/utilities/api";

/* Allow rows to have up to 12 columns via rol-cols-x */
$grid-row-columns: 12;

/* Override some of the default Bootstrap link styles */
$link-color: #000000;
$link-color-rgb: 0,0,0;
$link-decoration: underline;
$link-hover-color: #ee66ee;
$bs-link-hover-color-rgb: 238,102,238;

@import "bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap/scss/bootstrap";

/* GLOBAL DEFAULT FORM STYLES */

// Custom button-link
.btn-link-black {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: 0 0 0 #000;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  text-decoration: underline;
}

// Checkbox
input[type="checkbox"] {
  width: 22px;
  height: 22px;
}
input[type="checkbox"]:checked {
  background-color: var(--bs-gray-900);
  border-color: var(--bs-gray-900);
}

// Set validation error style on all inputs
input[type="text"]:invalid,
input[type="email"]:invalid,
select:invalid,
select option:invalid {
  box-shadow: 0 0 0px 4px rgba(196, 0, 0, 0.5) !important;
}

// Set focus style on all inputs
input[type="text"]:focus,
input[type="email"]:focus,
input[type="checkbox"]:focus,
select:focus,
select option:focus,
button:focus {
  box-shadow: 0 0 0px 4px rgba(255, 255, 255, 0.5) !important;
  border-color: var(--bs-gray-600) !important;
}
